{{>header}}

    <div id="hero" class="bg404 overlay">
        <div class="hero-content">
            <div class="hero-text">
                <h1>404</h1>
                <p>Error! {{errorMessage}}</p>
            </div><!-- /.hero-text -->
        </div><!-- /.hero-content -->
    </div><!-- /.hero -->

    {{>footer}}
  
</body>
</html>