{{>header}}

    <div id="hero" class="bg404 overlay">
        <div class="hero-content">
            <div class="hero-text">
                <h1>Help Page</h1>
                <p>This is the help page!</p>
            </div><!-- /.hero-text -->
        </div><!-- /.hero-content -->
    </div><!-- /.hero -->

{{>footer}}
  
</body>
</html>