{{>header}}

    <div id="hero" class="bg404 overlay">
        <div class="hero-content">
            <div class="hero-text">
                <h1>Weather Page</h1>
                <p>This is the Weather page!</p>
                <p>{{message}}</p>
                <p class="text-danger">{{error}}</p>
            </div><!-- /.hero-text -->
        </div><!-- /.hero-content -->
    </div><!-- /.hero -->

    
{{>footer}}
  
</body>
</html>